<div class="entries">
<%= bootstrap_form_for @post do |f| %>
	<%= f.alert_message "Please fix the errors below." %>
	<%= f.text_field :title %>
	<%= f.text_area :body %>
	<%= f.primary %>
<% end %>
</div>
