<div class= "wrapper">
    <div class= "content">

        <div id = "post">
            <%= render @post %>
        </div>

        <p>
			Tags: <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
		</p>

        <%= link_to "Edit Post", edit_post_path(@post), class: "btn btn-primary"%>
        <%= link_to "Delete Post", post_path(@post), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %><br>

        <h3>Comments</h3>

        <%= render @post.comments %>

        <%= render 'comments/form'%>

        <%= link_to "All Posts", posts_path %>
    </div>

</div>
